*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: #143d49;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 80px;
    background-color: #132c34;
    box-shadow:  0 1px 10px 0px rgb(255, 255, 255);
    margin-bottom: 20px;
}
nav span {
    font-weight: bold;
    color:whitesmoke ;
    margin-left:50px ;
    font-size: 1.2em;
    cursor: pointer;
}
nav div input {
    margin-right:20px ;
    width: 200px;
    outline: 0;
    border-radius: 5px;
    border:0 ;
    box-shadow:  0 1px 10px 0px rgb(4, 78, 111);
    height: 20px;
    padding: 5px;
}
.sectionTitle{
    margin-left:20px;
    font-size: 1.15em;
}
section{
    padding: calc( ( 100% - ( 200px * 6)) / 6);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
section >*{
    margin:  calc( ( 100% - ( 200px * 6)) / 6)  0  0 calc( ( 100% - ( 200px * 6)) / 6) ;
    border:solid black;
    width:200px ; 
    height: 300px;
    cursor:pointer;
    position:relative ;
}
section >* img{
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
}
section > *::after {
    content:attr(data-title);
    width: 100%;
    text-align: center;
    font-size: 19px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 25%;
    background-color: #1c1c1cc7;
    color: white;
    opacity: 0; 
    transition: opacity 400ms ease-out; 
    display: grid;
    place-content: center;
}
section > *:hover::after {
    opacity: 1;
}
  